<div class="row">
  <% cosplays.slice(0, 3).forEach(function(cosplay){ %>
    <div class="col-md-2 col-sm-2 col-xs-2 contentWell text-center">
      <div class="imgContainer">
        <img class="" src="<%=cosplay.defaultPicture %>">
      </div>
      <h4><a href="/cosplay/<%=cosplay._id%>"><%= cosplay.character %></a></h4>
      <h5><a href="/users/<%=cosplay.author.id%>"><%=cosplay.author.username%></a></h5>
    </div>
  <% });%>
</div>
