<% include partials/header %>

<div class="container">
  <div class="jumbotron text-center">
    <h1>Gonzocon</h1>
    <p>A new social media site for Cosplayers, by Cosplayers.</p>
    <a class="btn btn-primary" href="register">Sign up!</a>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
    qui officia deserunt mollit anim id est laborum.</p>
</div>
<div class="flexContainer">
  <div class="conIndex">
    <h1>Upcoming Cons</h1>

    <div class="upcomingCons">

      <% conventions.slice(0, 3).forEach(function(cons){ %>
        <div class="conventionWell">
            <h4> <%= cons.name %> </h4>
            <h5> <%= cons.location %> </h5>
            <h6> <%= cons.date %> </h6>
          <p>
            <a href="/cons/<%= cons._id %>" class="btn btn-primary">More Info</a>
          </p>
          </div>
      <% }); %>
    </div>
    <a href="/cons/showall">View all cons</a>
  </div>
</div>
<div class="flexContainer">
  <div class="conIndex">
    <h1> Newest Cosplays </h1>
    <div class="upcomingCons">
      <% cosplays.slice(0, 3).forEach(function(cosplay){ %>
        <div class="conventionWell">
          <img class="cosplayThumbnail" src="<%=cosplay.image %>">
          <h4><a href="/cosplay/<%=cosplay._id%>"<%= cosplay.character %></h4>
          <h5><%=cosplay.author.username%></h5>
        </div>
      <% });%>

</div>
<div>
  <a href="/cosplay">See all Cosplays</a>
</div>
</div>
</div>

<% include partials/footer %>
