<% include ../partials/header %>
<div class="container">
  <h1 class="text-center">Edit <%= user.name %></h1>
  <div class="row addCon">
    <form action="/users/<%= user._id%>?_method=PUT" method="post">
      <div class="form-group">
        <h4>Bio</h4>
        <textarea class="form-control" type="text" name="update[bio]"> <%=user.bio %> </textarea>
      </div>
      <h3>Social Media</h3>
      <div class="form-group">
        <h4>Twitter</h4>
        <input class="form-control" type="text" name="update[twitter]" value="<%= user.socialmedia.twitter %>">
      </div>
      <div class="form-group">
        <h4>Instagram</h4>
        <input class="form-control" type="text" name="update[instagram]" value="<%= user.socialmedia.instagram%>">
      </div>
      <div class="form-group">
        <h4>Tumblr</h4>
        <input class="form-control" type="text" name="update[tumblr]" value="<%= user.socialmedia.tumblr %>">
      </div>
      <div class="form-group">
        <h4>Facebook</h4>
        <input class="form-control" type="text" name="update[facebook]" value="<%= user.socialmedia.facebook %>">
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block">Submit</button>
      </div>
    </form>
    <a href="/">Back to Convention List</a>
  </div>
</div>

<% include ../partials/footer %>
