<% include ../partials/header %>
<!--- Show Attending conventions --->
<div class="flexContainer">
  <div class="columns mainProfile">
    <h1>User homepage</h1>

          <h3>Attending</h3>
          <% user.attending.forEach(function(con){ %>
            <a href="/cons/<%=con._id%>">
              <%= con.name %>
            </a>
          <%})%>

          <% user.uploads.forEach(function(cosplay){ %>
            <p><%= cosplay.character %></p>
            <img src="<%=cosplay.image %>">
          <% }); %>

  </div>
  <div class="columns profileSide">
    <div class="profileWell">
      <h2><%= user.username %></h2>
      <img class="profileImage" src="<%=user.avatar%>" alt="User Avatar">
      <div class="profileMedia">
        <% if(user.socialmedia.twitter){ %>
          <a href="http://www.twitter.com/<%=user.socialmedia.twitter %>">
            <i class="fa fa-twitter"></i> <p><%= user.socialmedia.twitter %></p>
          </a>
          <%}%>

      <% if(user.socialmedia.instagram){ %>
        <a href="http://www.instagram.com/<%=user.socialmedia.instagram %>">
          <i class="fa fa-instagram"></i> <p><%= user.socialmedia.instagram %></p>
        </a>
      <%}%>

      <% if(user.socialmedia.tumblr){ %>
        <a href="<%=user.socialmedia.tumblr%>.tumblr.com">
          <i class="fa fa-tumblr"></i> <p><%= user.socialmedia.tumblr %></p>
        </a>
      <%}%>
      <% if(user.socialmedia.facebook){ %>
        <a href="http://www.facebook.com/<%=user.socialmedia.facebook %>">
          <i class="fa fa-facebook"></i> <p><%= user.socialmedia.facebook %></p>
        </a>
      <%}%>

    </div>
    <div class="profileBio">
    <p><%=user.bio %></p>

    </div>
</div>
</div>
    </div>

<% include ../partials/footer %>
