<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">GonzoCon</p>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="thumbnail">
        <img clas="img-responsive" src="<%= convention.image %>" >
        <div class="caption-full">
          <h4 class="pull-right">Too Expensive</h4>
          <h1><a href="#"><%= convention.name %></a></h1>
          <p> <%= convention.description %> </p>
          <p><em>Submitted by <%= convention.author.username %></em></p>
          
          <% if(currentUser && convention.author.id.equals(currentUser._id)){ %>
            <a href="/cons/<%=convention._id %>/edit" class="btn btn-warning">Edit me</a>
            <form action="/cons/<%=convention._id%>?_method=DELETE" method="POST">
              <button class="btn btn-danger">Delete</button>
            </form>
          <% } %>
        </div>
      </div>
      <div class="well">
        <div class="text-right">
          <a class="btn btn-success" href="/cons/<%= convention._id %>/comments/new">Add new comment</a>
        </div>
        <hr>
        <% convention.comments.forEach(function(comment){ %>
         <div class="row">
            <div class="col-md-12">
              <strong><%= comment.author.username %></strong>
              <span class="pull-right"> 10 days ago</span>
              <p> <%= comment.text %> </p>
            </div>
         </div>
          <% }); %>
      </div>
    </div>
  </div>

  <h2><%= convention.location %></h2>
</div>
<% include ../partials/footer %>
