<% include ../partials/header %>
<% include ../partials/navbar %>
<div class="container">
  <div class="row">
    <% include ../partials/sidebar %>
    <div class="col-12 col-md-9" id="mainInfo">
                <h1><a href="#"><%= convention.name %></a></h1>
      <div class="thumbnail profileAvatar">
        <img clas="img-responsive" src="<%= convention.image %>" >
        <div class="caption-full">
          <h4 class="pull-right"><%= convention.date %></h4>

          <p> <%= convention.description %> </p>
          <p><em>Submitted by <%= convention.author.username %></em></p>
          <!--Edit and Delete convention if owner -->
          <% if(currentUser && convention.author.id.equals(currentUser._id)){ %>
            <a href="/cons/<%=convention._id %>/edit" class="btn btn-warning">Edit me</a>
            <form action="/cons/<%=convention._id%>?_method=DELETE" method="POST">
              <button class="btn btn-danger">Delete</button>
            </form>
          <% } %>
        </div>
      </div>

      <!-- Attending block -->
      <% if(currentUser){ %>
          <% if(currentUser.attending.toString().includes(convention._id.toString())){ %>
            <form action="/cons/<%=convention._id %>/unattend?_method=PUT" method="POST">
              <button class="btn btn-md btn-success"> I am NOT going</button>
            </form>
            <% } else { %>
          <form action="/cons/<%=convention._id %>/attending" method="POST">
            <button class="btn btn-md btn-success"> I am going</button>
          </form>
      <% } %>
      <% } %>
        <h3>Users attending</h3>
        <div class="row">
        <% convention.attending.slice(0, 10).forEach(function(attendee){ %>
          <div class="imgTooltip col-md-1 profileAvatar">
            <a href="/users/<%= attendee._id %>">
            <img  class="avatar" src="<%=attendee.avatar %>" alt="userimage">
            <span><%= attendee.username %> </span>
          </a>
          </div>

        <% }); %>
      </div>
    </div>

</div> <!-- MAIN INFO END -->
<% include ../partials/footer %>
